body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-repeat: no-repeat;
  background-size: 100vw 1020px;
}

h1 {
  color: rgb(241, 238, 238);
  font-size: 1.5rem;
}

.nav-section {
  /* padding-left: 3%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: palevioletred;
}

.nav-bar {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  background-color: white;
  position: absolute;
  width: 100%;
  align-items: center;
  /* display: none; */
}

.nav-list {
  text-align: center ;
  color: palevioletred;
  text-decoration: none;
  margin-inline: 20px;
}

.heading-container {
  width: 80%;
  margin-inline: auto;
  text-align: center;
  color: rgb(241, 238, 238);
  font-weight: 800;
}

.reading-collection {
  width: 80%;
  margin-inline: auto;
  animation-name: slide-in;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

@keyframes slide-in {
  0% {
    position: relative;
    right: 500px;
    transform: scale(1.5);
    opacity: 0.5;
  }

  100% {
    position: relative;
    right: 0;
    transform: scale(1);
    opacity: 0.9;
  }
}

.input-section {
  width: 80%;
  margin: 1rem auto;
}

.input-author,
.input-title {
  width: 200px;
  display: block;
  margin-block: 0.5rem;
  margin-inline: auto;
  height: 2rem;
  border: 1px solid black;
  border-radius: 4px;
}

input::placeholder {
  padding: 2%;
}

.input-author:hover,
.input-title:hover {
  border: 1.5px;
  box-shadow: 0.2rem 0.2rem 0 #686a6b;
}

#btnAdd {
  width: 70px;
  display: block;
  margin-inline: auto;
  text-align: center;
  border: 2px solid black;
  border-radius: 6px;
  height: 2rem;
}

ul {
  list-style: none;
  padding: 0;
}

.text {
  display: flex;
}

hr {
  width: 60%;
}

.booklist {
  width: 60%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  align-items: center;
  background-color: rgb(241, 238, 238, 0.9);
}

.button {
  cursor: pointer;
}

.button:hover {
  background-color: #e73c7e;
}

.li-odd {
  background-color: rgba(83, 63, 63, 0.9);
  color: white;
}

.error-message {
  font-size: 20px;
  display: flex;
  justify-content: center;
}


@media only screen and (min-width: 768px) {
  h1 {
    color: rgb(241, 238, 238);
    font-size: 1.5rem;
  }
  
  .nav-section {
    padding-inline: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: palevioletred;
  }
  
  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: unset;
    position: unset;
    background-color: transparent;
  }
  
  .nav-list {
    color: rgb(241, 238, 238);
    text-decoration: none;
    margin-inline: 20px;
    display: block;
    padding: 5px 8px;
  }

  .nav-list:hover {
    text-decoration: underline;
    padding: 5px 8px;
    background-color: rgb(241, 238, 238);
    color: palevioletred;
  }
  
  .hamburger {
    display: none;
  }
  .fa-bars {
    display: none;
  }

  .heading-container {
    margin-top: 7.5%;
  }
   
}